<a href="https://colab.research.google.com/github/NDSUKESH/sql-learning/blob/main/sql3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3

In [4]:
conn=sqlite3.connect("sales.db")

In [5]:
conn.execute('''create table sales
(
  oid int, /* order id */
  cid int,  /* customer id */
  pid int,   /* product id */
  sdata DATE,
  quantity int,
  price float
);''')
conn.commit()

In [6]:
conn.execute("insert into sales values(1,100,101,2021-1-1,5,10.5);")
conn.commit()

In [7]:
conn.execute("insert into sales values(2,101,102,2021-1-2,2,55);")
conn.execute("insert into sales values(3,102,103,2021-1-3,4,12);")
conn.execute("insert into sales values(4,103,104,2021-1-4,7,11.5);")
conn.execute("insert into sales values(5,104,102,2021-1-15,5,19.5);")
conn.execute("insert into sales values(6,102,101,2021-1-1,6,25.55);")
conn.execute("insert into sales values(7,101,104,2021-1-2,1,100);")
conn.execute("insert into sales values(8,103,101,2021-1-3,2,12.5);")
conn.execute("insert into sales values(9,104,102,2021-1-4,8,11.5);")
conn.commit()
a=conn.execute("select * from sales;")
for r in a:
  print(r)

(1, 100, 101, 2019, 5, 10.5)
(2, 101, 102, 2018, 2, 55.0)
(3, 102, 103, 2017, 4, 12.0)
(4, 103, 104, 2016, 7, 11.5)
(5, 104, 102, 2005, 5, 19.5)
(6, 102, 101, 2019, 6, 25.55)
(7, 101, 104, 2018, 1, 100.0)
(8, 103, 101, 2017, 2, 12.5)
(9, 104, 102, 2016, 8, 11.5)

###1.Retrieve the total sales amount for each product, considering the quantity and price.

In [8]:
a=conn.execute("select pid,sum(price*quantity)as amount from sales group by pid;")
for r in a:
  print(r)

(101, 230.8)
(102, 299.5)
(103, 48.0)
(104, 180.5)

###3.Retrieve the top 3 customers who made the highest total purchase amount.

In [9]:
a=conn.execute("select cid,sum(price*quantity)as amount from sales group by cid order by amount desc limit 3 ")
for r in a:
  print(r)

(101, 210.0)
(102, 201.3)
(104, 189.5)

###3.Retrieve the products that were sold more then twice.

In [10]:
a=conn.execute("select pid from sales group by pid having count(*)>2;")
for r in a:
  print(r)

(101,)
(102,)

--------------------------------------------------------------------------

In [11]:
import pandas as pd
import numpy as np

In [12]:
dfs=pd.read_csv('countries (1).csv')
dfs.head(5)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495

In [13]:
dfs.shape

(210, 6)

In [14]:
dfs=dfs.dropna()
dfs.shape

(159, 6)

In [15]:
dfs.head(5)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907

In [16]:
dfs.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')

In [17]:
dfs.to_sql(name='mytable',con=conn,if_exists='replace',index=True)
conn.commit()
conn.close()

###4.Retrieve the countries that have a higher population than the average population of their respective continents.

In [18]:
conn=sqlite3.connect('sales.db')

In [19]:
a=conn.execute("select * from mytable;")

In [20]:
for r in a:
  print(r)

(0, 'Afghanistan', 'Asia', 38928341.0, 64.83, 0.5, 1803.987)
(1, 'Albania', 'Europe', 2877800.0, 78.57, 2.89, 11803.431)
(2, 'Algeria', 'Africa', 43851043.0, 76.88, 1.9, 13913.839)
(6, 'Antigua and Barbuda', 'North America', 97928.0, 77.02, 3.8, 21490.943)
(7, 'Argentina', 'South America', 45195777.0, 76.67, 5.0, 18933.907)
(8, 'Armenia', 'Asia', 2963234.0, 75.09, 4.2, 8787.58)
(10, 'Australia', 'Oceania', 25499881.0, 83.44, 3.84, 44648.71)
(11, 'Austria', 'Europe', 9006400.0, 81.54, 7.37, 45436.686)
(12, 'Azerbaijan', 'Asia', 10139175.0, 73.0, 4.7, 15847.419)
(13, 'Bahamas', 'North America', 393248.0, 73.92, 2.9, 27717.847)
(14, 'Bahrain', 'Asia', 1701583.0, 77.29, 2.0, 43290.705)
(15, 'Bangladesh', 'Asia', 164689383.0, 72.59, 0.8, 3523.9840000000004)
(16, 'Barbados', 'North America', 287371.0, 79.19, 5.8, 16978.068)
(17, 'Belarus', 'Europe', 9449321.0, 74.79, 11.0, 17167.967)
(18, 'Belgium', 'Europe', 11589616.0, 81.63, 5.64, 42658.576)
(19, 'Belize', 'North America', 397621.0, 74.62, 1.3, 7824.361999999999)
(20, 'Benin', 'Africa', 12123198.0, 61.77, 0.5, 2064.236)
(22, 'Bhutan', 'Asia', 771612.0, 71.78, 1.7, 8708.597)
(23, 'Bolivia', 'South America', 11673029.0, 71.51, 1.1, 6885.829000000001)
(25, 'Bosnia and Herzegovina', 'Europe', 3280815.0, 77.4, 3.5, 11713.895)
(26, 'Botswana', 'Africa', 2351625.0, 69.59, 1.8, 15807.374)
(27, 'Brazil', 'South America', 212559409.0, 75.88, 2.2, 14103.452)
(29, 'Brunei', 'Asia', 437483.0, 75.86, 2.7, 71809.25099999999)
(30, 'Bulgaria', 'Europe', 6948445.0, 75.05, 7.454, 18563.307)
(31, 'Burkina Faso', 'Africa', 20903278.0, 61.58, 0.4, 1703.102)
(32, 'Burundi', 'Africa', 11890781.0, 61.58, 0.8, 702.225)
(33, 'Cambodia', 'Asia', 16718971.0, 69.82, 0.8, 3645.07)
(34, 'Cameroon', 'Africa', 26545864.0, 59.29, 1.3, 3364.926)
(35, 'Canada', 'North America', 37742157.0, 82.43, 2.5, 44017.59099999999)
(36, 'Cape Verde', 'Africa', 555988.0, 72.98, 2.1, 6222.554)
(38, 'Central African Republic', 'Africa', 4829764.0, 53.28, 1.0, 661.24)
(40, 'Chile', 'South America', 19116209.0, 80.18, 2.11, 22767.037)
(41, 'China', 'Asia', 1439323774.0, 76.91, 4.34, 15308.712)
(42, 'Colombia', 'South America', 50882884.0, 77.29, 1.71, 13254.949)
(43, 'Comoros', 'Africa', 869595.0, 64.32, 2.2, 1413.89)
(45, 'Costa Rica', 'North America', 5094114.0, 80.28, 1.13, 15524.995)
(47, 'Croatia', 'Europe', 4105268.0, 78.49, 5.54, 22669.797)
(50, 'Cyprus', 'Europe', 875899.0, 80.98, 3.4, 32415.132)
(51, 'Czech Republic', 'Europe', 10708982.0, 79.38, 6.63, 32605.906000000003)
(53, 'Denmark', 'Europe', 5792203.0, 80.9, 2.5, 46682.515)
(54, 'Djibouti', 'Africa', 988002.0, 67.11, 1.4, 2705.406)
(55, 'Dominica', 'North America', 71991.0, 75.0, 3.8, 9673.367)
(56, 'Dominican Republic', 'North America', 10847904.0, 74.08, 1.6, 14600.861)
(57, 'Ecuador', 'South America', 17643060.0, 77.01, 1.5, 10581.936000000002)
(58, 'Egypt', 'Africa', 102334403.0, 71.99, 1.6, 10550.206)
(59, 'El Salvador', 'North America', 6486201.0, 73.32, 1.3, 7292.458)
(60, 'Equatorial Guinea', 'Africa', 1402985.0, 58.74, 2.1, 22604.873)
(61, 'Eritrea', 'Africa', 3546427.0, 66.32, 0.7, 1510.4589999999998)
(62, 'Estonia', 'Europe', 1326539.0, 78.74, 4.69, 29481.252)
(63, 'Ethiopia', 'Africa', 114963583.0, 66.6, 0.3, 1729.927)
(66, 'Fiji', 'Oceania', 896444.0, 67.44, 2.3, 8702.975)
(67, 'Finland', 'Europe', 5540718.0, 81.91, 3.28, 40585.721)
(68, 'France', 'Europe', 65273512.0, 82.66, 5.98, 38605.671)
(70, 'Gabon', 'Africa', 2225728.0, 66.47, 6.3, 16562.413)
(71, 'Gambia', 'Africa', 2416664.0, 62.05, 1.1, 1561.767)
(72, 'Georgia', 'Asia', 3989175.0, 73.77, 2.6, 9745.079)
(73, 'Germany', 'Europe', 83783945.0, 81.33, 8.0, 45229.245)
(74, 'Ghana', 'Africa', 31072945.0, 64.07, 0.9, 4227.63)
(76, 'Greece', 'Europe', 10423056.0, 82.24, 4.21, 24574.382)
(78, 'Grenada', 'North America', 112519.0, 72.4, 3.7, 13593.877)
(80, 'Guatemala', 'North America', 17915567.0, 74.3, 0.6, 7423.808000000001)
(82, 'Guinea', 'Africa', 13132792.0, 61.6, 0.3, 1998.926)
(84, 'Guyana', 'South America', 786559.0, 69.91, 1.6, 7435.047)
(85, 'Haiti', 'North America', 11402533.0, 64.0, 0.7, 1653.1729999999998)
(86, 'Honduras', 'North America', 9904608.0, 75.27, 0.7, 4541.795)
(88, 'Hungary', 'Europe', 9660350.0, 76.88, 7.02, 26777.561)
(89, 'Iceland', 'Europe', 341250.0, 82.99, 2.91, 46482.958)
(90, 'India', 'Asia', 1380004385.0, 69.66, 0.53, 6426.674)
(91, 'Indonesia', 'Asia', 273523621.0, 71.72, 1.04, 11188.744)
(92, 'Iran', 'Asia', 83992953.0, 76.68, 1.5, 19082.62)
(93, 'Iraq', 'Asia', 40222503.0, 70.6, 1.4, 15663.986)
(94, 'Ireland', 'Europe', 4937796.0, 82.3, 2.96, 67335.293)
(96, 'Israel', 'Asia', 8655541.0, 82.97, 2.99, 33132.32)
(97, 'Italy', 'Europe', 60461828.0, 83.51, 3.18, 35220.084)
(98, 'Jamaica', 'North America', 2961161.0, 74.47, 1.7, 8193.571)
(99, 'Japan', 'Asia', 126476458.0, 84.63, 13.05, 39002.223)
(101, 'Jordan', 'Asia', 10203140.0, 74.53, 1.4, 8337.49)
(102, 'Kazakhstan', 'Asia', 18776707.0, 73.6, 6.7, 24055.588)
(103, 'Kenya', 'Africa', 53771300.0, 66.7, 1.4, 2993.028)
(105, 'Kuwait', 'Asia', 4270563.0, 75.49, 2.0, 65530.537)
(106, 'Kyrgyzstan', 'Asia', 6524191.0, 71.45, 4.5, 3393.474)
(107, 'Laos', 'Asia', 7275556.0, 67.92, 1.5, 6397.36)
(108, 'Latvia', 'Europe', 1886202.0, 75.29, 5.57, 25063.846)
(109, 'Lebanon', 'Asia', 6825442.0, 78.93, 2.9, 13367.565)
(111, 'Liberia', 'Africa', 5057677.0, 64.1, 0.8, 752.788)
(112, 'Libya', 'Africa', 6871287.0, 72.91, 3.7, 17881.509)
(114, 'Lithuania', 'Europe', 2722291.0, 75.93, 6.56, 29524.265)
(115, 'Luxembourg', 'Europe', 625976.0, 82.25, 4.51, 94277.965)
(116, 'Macedonia', 'Europe', 2083380.0, 75.8, 4.28, 13111.214)
(117, 'Madagascar', 'Africa', 27691019.0, 67.04, 0.2, 1416.44)
(118, 'Malawi', 'Africa', 19129955.0, 64.26, 1.3, 1095.042)
(119, 'Malaysia', 'Asia', 32365998.0, 76.16, 1.9, 26808.164)
(121, 'Mali', 'Africa', 20250834.0, 59.31, 0.1, 2014.306)
(122, 'Malta', 'Europe', 441539.0, 82.53, 4.485, 36513.323)
(124, 'Mauritius', 'Africa', 1271767.0, 74.99, 3.4, 20292.745)
(125, 'Mexico', 'North America', 128932753.0, 75.05, 1.38, 17336.468999999997)
(126, 'Moldova', 'Europe', 4033963.0, 71.9, 5.8, 5189.972)
(128, 'Mongolia', 'Asia', 3278292.0, 69.87, 7.0, 11840.846)
(129, 'Montenegro', 'Europe', 628062.0, 76.88, 3.861, 16409.288)
(131, 'Morocco', 'Africa', 36910558.0, 76.68, 1.1, 7485.013000000001)
(132, 'Mozambique', 'Africa', 31255435.0, 60.85, 0.7, 1136.103)
(133, 'Myanmar', 'Asia', 54409794.0, 67.13, 0.9, 5591.597)
(135, 'Nepal', 'Asia', 29136808.0, 70.78, 0.3, 2442.804)
(136, 'Netherlands', 'Europe', 17134873.0, 82.28, 3.32, 48472.545)
(138, 'New Zealand', 'Oceania', 4822233.0, 82.29, 2.61, 36085.843)
(139, 'Nicaragua', 'North America', 6624554.0, 74.48, 0.9, 5321.444)
(140, 'Niger', 'Africa', 24206636.0, 62.42, 0.3, 926.0)
(143, 'Norway', 'Europe', 5421242.0, 82.4, 3.6, 64800.057)
(144, 'Oman', 'Asia', 5106622.0, 77.86, 1.6, 37960.709)
(145, 'Pakistan', 'Asia', 220892331.0, 67.27, 0.6, 5034.708)
(147, 'Panama', 'North America', 4314768.0, 78.51, 2.3, 22267.037)
(149, 'Paraguay', 'South America', 7132530.0, 74.25, 1.3, 8827.01)
(150, 'Peru', 'South America', 32971846.0, 76.74, 1.6, 12236.706)
(151, 'Philippines', 'Asia', 109581085.0, 71.23, 1.0, 7599.188)
(152, 'Poland', 'Europe', 37846605.0, 78.73, 6.62, 27216.445)
(153, 'Portugal', 'Europe', 10196707.0, 82.05, 3.39, 27936.896)
(155, 'Qatar', 'Asia', 2881060.0, 80.23, 1.2, 116935.6)
(156, 'Romania', 'Europe', 19237682.0, 76.05, 6.892, 23313.199)
(157, 'Russia', 'Europe', 145934460.0, 72.58, 8.05, 24765.954)
(159, 'Saint Kitts and Nevis', 'North America', 53192.0, 76.23, 2.3, 24654.385)
(160, 'Saint Lucia', 'North America', 183629.0, 76.2, 1.3, 12951.839)
(161, 'Saint Vincent and the Grenadines', 'North America', 110947.0, 72.53, 2.6, 10727.146)
(162, 'San Marino', 'Europe', 33938.0, 84.97, 3.8, 56861.47)
(163, 'Sao Tome and Principe', 'Africa', 219161.0, 70.39, 2.9, 3052.7140000000004)
(164, 'Saudi Arabia', 'Asia', 34813867.0, 75.13, 2.7, 49045.41099999999)
(166, 'Serbia', 'Europe', 6804596.0, 76.0, 5.609, 14048.881)
(167, 'Seychelles', 'Africa', 98340.0, 73.4, 3.6, 26382.287)
(169, 'Singapore', 'Asia', 5850343.0, 83.62, 2.4, 85535.383)
(171, 'Slovakia', 'Europe', 5459643.0, 77.54, 5.82, 30155.152)
(172, 'Slovenia', 'Europe', 2078932.0, 81.32, 4.5, 31400.84)
(174, 'South Africa', 'Africa', 59308690.0, 64.13, 2.32, 12294.876)
(175, 'South Korea', 'Asia', 51269183.0, 83.03, 12.27, 35938.374)
(177, 'Spain', 'Europe', 46754783.0, 83.56, 2.97, 34272.36)
(178, 'Sri Lanka', 'Asia', 21413250.0, 76.98, 3.6, 11669.077)
(179, 'Sudan', 'Africa', 43849269.0, 65.31, 0.8, 4466.5070000000005)
(180, 'Suriname', 'South America', 586634.0, 71.68, 3.1, 13767.119)
(181, 'Swaziland', 'Africa', 1160164.0, 60.19, 2.1, 7738.975)
(182, 'Sweden', 'Europe', 10099270.0, 82.8, 2.22, 46949.283)
(183, 'Switzerland', 'Europe', 8654618.0, 83.78, 4.53, 57410.166)
(186, 'Tajikistan', 'Asia', 9537642.0, 71.1, 4.8, 2896.913)
(187, 'Tanzania', 'Africa', 59734213.0, 65.46, 0.7, 2683.304)
(188, 'Thailand', 'Asia', 69799978.0, 77.15, 2.1, 16277.671)
(189, 'Timor', 'Asia', 1318442.0, 69.5, 5.9, 6570.102)
(190, 'Togo', 'Africa', 8278737.0, 61.04, 0.7, 1429.813)
(191, 'Trinidad and Tobago', 'North America', 1399491.0, 73.51, 3.0, 28763.071)
(192, 'Tunisia', 'Africa', 11818618.0, 76.7, 2.3, 10849.297)
(193, 'Turkey', 'Asia', 84339067.0, 77.69, 2.81, 25129.341)
(195, 'Uganda', 'Africa', 45741000.0, 63.37, 0.5, 1697.707)
(196, 'Ukraine', 'Europe', 43733759.0, 72.06, 8.8, 7894.393)
(197, 'United Arab Emirates', 'Asia', 9890400.0, 77.97, 1.2, 67293.483)
(198, 'United Kingdom', 'Europe', 67886004.0, 81.32, 2.54, 39753.244)
(199, 'United States', 'North America', 331002647.0, 78.86, 2.77, 54225.446)
(201, 'Uruguay', 'South America', 3473727.0, 77.91, 2.8, 20551.409)
(202, 'Uzbekistan', 'Asia', 33469199.0, 71.72, 4.0, 6253.104)
(204, 'Venezuela', 'South America', 28435943.0, 72.06, 0.8, 16745.022)
(205, 'Vietnam', 'Asia', 97338583.0, 75.4, 2.6, 6171.884)
(207, 'Yemen', 'Asia', 29825968.0, 66.12, 0.7, 1479.1470000000002)
(208, 'Zambia', 'Africa', 18383956.0, 63.89, 2.0, 3689.251)
(209, 'Zimbabwe', 'Africa', 14862927.0, 61.49, 1.7, 1899.775)

In [21]:
a=conn.execute("select location,population from mytable where population>(select avg(population) from mytable group by continent);")

In [22]:
for r in a:
  print(r)

('Afghanistan', 38928341.0)
('Algeria', 43851043.0)
('Argentina', 45195777.0)
('Australia', 25499881.0)
('Bangladesh', 164689383.0)
('Brazil', 212559409.0)
('Cameroon', 26545864.0)
('Canada', 37742157.0)
('China', 1439323774.0)
('Colombia', 50882884.0)
('Egypt', 102334403.0)
('Ethiopia', 114963583.0)
('France', 65273512.0)
('Germany', 83783945.0)
('Ghana', 31072945.0)
('India', 1380004385.0)
('Indonesia', 273523621.0)
('Iran', 83992953.0)
('Iraq', 40222503.0)
('Italy', 60461828.0)
('Japan', 126476458.0)
('Kenya', 53771300.0)
('Madagascar', 27691019.0)
('Malaysia', 32365998.0)
('Mexico', 128932753.0)
('Morocco', 36910558.0)
('Mozambique', 31255435.0)
('Myanmar', 54409794.0)
('Nepal', 29136808.0)
('Niger', 24206636.0)
('Pakistan', 220892331.0)
('Peru', 32971846.0)
('Philippines', 109581085.0)
('Poland', 37846605.0)
('Russia', 145934460.0)
('Saudi Arabia', 34813867.0)
('South Africa', 59308690.0)
('South Korea', 51269183.0)
('Spain', 46754783.0)
('Sudan', 43849269.0)
('Tanzania', 59734213.0)
('Thailand', 69799978.0)
('Turkey', 84339067.0)
('Uganda', 45741000.0)
('Ukraine', 43733759.0)
('United Kingdom', 67886004.0)
('United States', 331002647.0)
('Uzbekistan', 33469199.0)
('Venezuela', 28435943.0)
('Vietnam', 97338583.0)
('Yemen', 29825968.0)

###5.Retrieve the countries with a life expectancy lower than the global average life expectancy but a higher GDP per capita than the global average GDP per capita.

In [23]:
dfs.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')

In [24]:
a=conn.execute('''WITH global_avg AS (
  SELECT AVG(life_expectancy) AS avg_life_expectancy, AVG(gdp_per_capita) AS avg_gdp_per_capita
  FROM mytable
)
SELECT location
FROM mytable
JOIN global_avg ON 1=1
WHERE life_expectancy < avg_life_expectancy
AND gdp_per_capita > avg_gdp_per_capita;''')

In [25]:
for r in a:
  print(r)

('Equatorial Guinea',)
('Kazakhstan',)
('Russia',)
('Seychelles',)
('Trinidad and Tobago',)

In [26]:
a=conn.execute('''SELECT location
FROM mytable
WHERE life_expectancy < (
  SELECT AVG(life_expectancy)
  FROM mytable
)
AND gdp_per_capita > (
  SELECT AVG(gdp_per_capita)
  FROM mytable
);
''')

In [27]:
for r in a:
  print(r)

('Equatorial Guinea',)
('Kazakhstan',)
('Russia',)
('Seychelles',)
('Trinidad and Tobago',)