<a href="https://colab.research.google.com/github/NDSUKESH/sql-learning/blob/main/sql_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect("data.db")

In [3]:
conn.execute('''CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(50),
  email VARCHAR(100),
  phone_number VARCHAR(20)
);''')
conn.commit()

In [4]:
conn.execute('''INSERT INTO customers VALUES
  (1, 'Alice Smith', 'alice@example.com', '+1 (555) 123-4567'),
  (2, 'Bob Johnson', 'bob@example.com', '+1 (555) 234-5678'),
  (3, 'Charlie Brown', 'charlie@example.com', '+1 (555) 345-6789'),
  (4, 'David Lee', 'david@example.com', '+1 (555) 456-7890'),
  (5, 'Emma Davis', 'emma@example.com', '+1 (555) 567-8901');''')
conn.commit()

In [5]:
a=conn.execute("select * from customers;")
for i in a:
  print(i)

(1, 'Alice Smith', 'alice@example.com', '+1 (555) 123-4567')
(2, 'Bob Johnson', 'bob@example.com', '+1 (555) 234-5678')
(3, 'Charlie Brown', 'charlie@example.com', '+1 (555) 345-6789')
(4, 'David Lee', 'david@example.com', '+1 (555) 456-7890')
(5, 'Emma Davis', 'emma@example.com', '+1 (555) 567-8901')

In [6]:
conn.execute('''CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  customer_id INT,
  order_date DATE,
  total_amount DECIMAL(10,2),
  status VARCHAR(20)
);''')

In [7]:
conn.commit()

In [8]:
conn.execute('''INSERT INTO orders VALUES 
  (1, 1, '2021-01-01', 100.00, 'Complete'),
  (2, 2, '2021-01-02', 75.00, 'Pending'),
  (3, 3, '2021-01-03', 50.00, 'Complete'),
  (4, 4, '2021-01-04', 200.00, 'Complete'),
  (5, 5, '2021-01-05', 150.00, 'Pending'),
  (6, 1, '2021-01-06', 25.00, 'Complete'),
  (7, 2, '2021-01-07', 300.00, 'Pending'),
  (8, 3, '2021-01-08', 125.00, 'Complete'),
  (9, 4, '2021-01-09', 50.00, 'Complete'),
  (10, 5, '2021-01-10', 175.00, 'Pending');''')

In [9]:
conn.commit()

In [10]:
a=conn.execute("select * from orders;")
for i in a:
  print(i)

(1, 1, '2021-01-01', 100, 'Complete')
(2, 2, '2021-01-02', 75, 'Pending')
(3, 3, '2021-01-03', 50, 'Complete')
(4, 4, '2021-01-04', 200, 'Complete')
(5, 5, '2021-01-05', 150, 'Pending')
(6, 1, '2021-01-06', 25, 'Complete')
(7, 2, '2021-01-07', 300, 'Pending')
(8, 3, '2021-01-08', 125, 'Complete')
(9, 4, '2021-01-09', 50, 'Complete')
(10, 5, '2021-01-10', 175, 'Pending')

1.Write a query to find the customer(s) who have made at least three orders with a total amount greater than $100.

In [11]:
a=conn.execute('''
 SELECT c.customer_name
FROM customers c
JOIN (
  SELECT customer_id
  FROM orders 
  WHERE total_amount > 100
  GROUP BY customer_id
  HAVING COUNT(*) >= 2
) o ON c.customer_id = o.customer_id;
''')

In [12]:
for i in a:
  print(i)

('Emma Davis',)

2.Write a query to find the month(s) with the highest total amount of completed orders.

In [13]:
a=conn.execute('''SELECT 
  strftime('%m', order_date) AS month, 
  SUM(total_amount) AS total_amount 
FROM orders 
WHERE status = 'Complete' 
GROUP BY month 
ORDER BY total_amount DESC 
LIMIT 1;
''')
for i in a:
  print(i)

('01', 550)

3.Write a query to find the customer(s) who have only made orders with a status of "Complete".

In [14]:
a=conn.execute('''SELECT c.customer_name from orders o join customers c on o.customer_id=c.customer_id  where status='Complete'group by o.Customer_id;''')
for i in a:
  print(i)

('Alice Smith',)
('Charlie Brown',)
('David Lee',)

4.Write a query to find the order(s) with the highest total amount for each month in the year 2021.

In [18]:
a=conn.execute("select strftime('%m',order_date)as month,total_amount from orders where status='Complete' group by month;")
for i in a:
  print(i)

('01', 100)

5.Write a query to find the percentage of orders that have a status of "Complete".

In [33]:
a=conn.execute("SELECT (COUNT(CASE WHEN status = 'Complete' THEN 1 END) * 100.0 / COUNT(*)) AS complete_percentage FROM orders;")

In [34]:
for i in a:
  print(i)

(60.0,)